.app-container {
  text-align: center;
}

.App-header {
  background-color: white;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-transform: uppercase;
}

.App-header:hover {
  background-color: white;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-transform: uppercase;
  transform: scale(-1, 1);
}

.browse-fits {
  background-color: black;
}

.browse-fits ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.browse-fits ul li img {
  margin: 10px;
  height: 450px;
  border-radius: 3px;
  transition: 0.4s;
}

.browse-fits ul li img:hover {
  transition: 0.4s;
  margin: 10px;
  height: 650px;
}
